/* estilização de links
Seletor de links não visitados */

a:link {
    color:orange;
}

/*seletor de links já visitados */
a:visited {
    color:black;
}
/* seletor de ação de passar o mouse sobre o link */
a:hover {
    color:green;
}

/* seletor da ação de pressionar */
a:active {
    color:red
}
/* Remover estilização padrão do link */
a {
    text-decoration: none;
}