body {
	margin:0px !important;
	font-family: 'Merriweather';

}

button{
	border-radius: 30%;
	padding:5px;
	
}
.container {

	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
}

h2, h3, h4, h5, h6{
	font-weight: 300;
}
/* ====================================================== */
/* TOPO												*/
/* ====================================================== */
#topo {
	background-color: #30261d !important;
	height: 80px;
	line-height: 80px;

}

#logo {
	width: 25%;
	float: left;
	color: white;
}

#menu {

	width: 50%;
	float: left;

}

#menu a {

	color: white;
	text-decoration: none;
	margin-right: 15px;
	transition:opacity 0.5s;
}

#menu a:hover {
	opacity: 0.6;
	border-bottom: 2px solid rgba(0,0,0,0.20);
}


#pesquisa {
	width: 25%;
	float: left;
}

#pesquisa input{
	border:none;
	background-color: rgba(0,0,0,0.45);
	color:white;
}
/* ====================================================== */
/* INTRODUÇÃO												*/
/* ====================================================== */
#introducao {
	text-align: center;
	background-image: linear-gradient(
		rgba(0,0,0,0.75),
		rgba(0,0,0,0.75)
		),url('img/bg-introducao.jpg');
	background-position: center center;
	float:left;
	width: 100%;
	color:white;
	padding-top: 125px;
	padding-bottom: 125px;
	line-height: 40px
}
#introducao h1{
	font-size: 32px;
	text-decoration: underline wavy #7eccd0;
}

#introducao mark {	
	background-color: rgb(184,146,112,0.80);
	color:#30261d;
	font-weight:900; 
	font-style: italic;
	padding:2px 8px;
}

/* ====================================================== */
/* CARDAPIO												*/
/* ====================================================== */
#cardapio {
	border-top: 4px solid rgba(0,0,0,0.25);
	background-color:#ecd4ba;
	width: 100%;
	float: left;
	padding-bottom: 25px;
	padding-top: 25px;

}

#cardapio h1{
	font-size: 32px;
	text-align: center;
	color:	rgba(0,0,0,0.80);
	text-decoration: underline wavy #7eccd0;	
}

.itemcardapio {
	background-color: rgba(0,0,0,0.15);
	padding:25px;
	min-height: 130px;
	margin-bottom: 25px;
	
}	

.imgitemcardapio {
	float:left;
	width: 20%;
	box-shadow: 6px 6px 0px rgba(0,0,0,0.20);
}

.imgitemcardapio img{
	float:left;
	width: 100%;
	box-shadow: 3px 3px 0px rgba(0,0,0,0.20);
}
.conteudoitemcardapio {
	padding-left: 3%;
	padding-right: 3%;
	float:left;
	width: 54%;
}

.conteudoitemcardapio h2 {
	font-weight: 600;
	color: rgba(0,0,0,0.80);
}

.conteudoitemcardapio h3 {
	font-style: italic;
	color: rgba(0,0,0,0.80);	

}	
.precoitemcardapio {
	float:left;
	width: 20%;
}

.precoitemcardapio ul {
	padding: 0 !important;
	margin: 0 !important;
	border: 6px double rgba(0,0,0,0.50);
	list-style-type: none;
}

.precoitemcardapio li {
	background-color: rgba(0,0,0,0.20);
	padding: 10px;

}

/* ====================================================== */
/* INFORMAÇÕES NUTRICIONAIS												*/
/* ====================================================== */
#nutricional {
	border-top: 4px solid rgba(0,0,0,0.25);
	background-color: #7eccd0;
	width: 100%;
	float: left;
	padding-top: 25px;
	padding-bottom: 25px;
}

#nutricional h1{
	font-size: 32px;
	text-align: center;
	text-decoration: underline wavy #30261d;
	color:#004643;
}

#nutricional h2{
	text-align: center;
	font-size: 20px;
	font-weight: bolder;
	font-style: italic;
	color: #002e2c;
}
.centraliza {
	text-align: center;
}

table, td,th{
	border-collapse: collapse;
	border: 2px solid rgb(94,153,156);
	color:#002e2c;
}

caption,td,th{

	line-height: 30px
}
td{
	padding-left: 10px
}
caption{
	font-weight: 900;
	border-left: 2px solid rgb(94,153,156);
	border-right: 2px solid rgb(94,153,156);
	border-top: 2px solid rgb(94,153,156);
}

/* ====================================================== */
/* RODAPÉ										*/
/* ====================================================== */


#rodape {
	text-align: center;
	border-top: 4px solid rgba(0,0,0,0.25);
	background-color: #30261d;
	width: 100%;
	float: left;
	color: white;
	padding-top: 25px;
	padding-bottom: 25px;
}

#rodape h1 {
	font-size: 32px;
	text-decoration: underline wavy #7eccd0;
}

.imgrodape {
	max-width: 30px;
	background-color: white;
	border-radius: 50%;
	padding: 5px;
	margin-right: 4px;
	margin-left: 4px;
	margin-bottom: 15px
}
.container {
	max-width: 980px;
	margin-left: auto;
	margin-right: auto;
}