h1 {
    color: red;
    font-weight: bold;
}
h2 {
    color:blue;
    font-weight: bold;
}

caption, thead {
    color:green;
    font-weight: bold;
    border-bottom-width: 1px;
    border-top-width:1px;
    border-left-width:1px;
    border-right-width:1px;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;
    
}

table, tr, td {
    
    border-bottom-width: 1px;
    border-top-width:1px;
    border-left-width:1px;
    border-right-width:1px;
    border-right-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-top-style: solid;

}