* {
    font-family: arial;
}


h1 {
    color: orange;
}

h2 {
    font-weight: lighter;
}

label {
    color: blue;
    font-weight: 400;

}

p {
    font-weight: normal;
}

textarea {

    resize: none; /*horizontal vertical none */
}